<!--Formulario para Login-->
<section id="login">
   
        <h1 class="welcome">¡Bienvenido a tu red de postres! </h1>
        <div><img class="logoMain" src="../img/mundo_dulce.png"></div>
        <section id="userLogin">
            <input id="emailLogin" type="email" class="form-control input-form" placeholder="Email">
            <input id="passwordLogin" type="password" class="form-control input-form" placeholder="Contraseña">
            <button id="btnLogin" class="btn btn-danger input-form btniPad" type="button">Iniciar sesión</button>
            <p id="createAccount" class="input-form ">¿No tienes cuenta?</p>
            <a href="./register.html" class="pointer"><button class="btn btn-danger input-form btniPad">Regístrate</button></a>
        </section>

    </section>

<!--     <div id="div-signin">
    
            <section id="userRegister">
                <h4>Registro de usuarios</h4>
                <input id="emailRegister" type="email" placeholder="Ingresa email">
                <input id="passwordRegister" type="password" placeholder="Ingresa contraseña">
                <button id="btnRegister">Regístrate</button>
            </section>
        </div> -->